@import 'tailwindcss';

/* Hide scrollbars but keep scrolling functional */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
   scroll-behavior: smooth;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}
